.about_about__section {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 2.4rem;
    gap: 2.4rem;
}

.stats_stats__about {

    display: inline-block;
    /* background-color: aqua; */
    /* margin-top: -10px; */



}

.stats_statColumn__about h4 span {
    /* margin-top: -15px;
    padding-top: -10px; */
}

.about_header_section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.75rem;
}

.about_header_line {
    width: 100%;
    height: 1px;
    background: var(--text);
    opacity: .3;
}

.section-wrapper h3 {
    display: block;
    font-size: 1rem;
    margin: 1em 0;
    font-weight: bold;
    font-style: normal
}

.about_header_title {
    font-size: var(--text-sub_header);
    font-weight: 900;
    text-align: end;
    color: var(--text);
}

.about_header_title span {
    color: var(--main-color);

}

div {
    display: block;
}

.about_about__section div {
    position: relative;
    width: fit-content;
    overflow: hidden;
}

.about_aboutText_paragraph {
    margin-bottom: 0.4rem;
    font-weight: 200;
}

.about_about__section p {
    font-size: 18px;
    color: #eee;
    line-height: 26px;
    display: block;
    /* margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.about_highlightFirstLetter:first-letter {
    background: var(--background-light);
    padding: 0.4rem;
    border-radius: .4rem;
    font-size: var(--text-xs);
    font-weight: 700;
    margin-right: .6rem;
    float: left;
    color: var(--main-color);
}



.about_linksText__OPa1o {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: var(--nav-font-size);
    color: var(--main-color);
}


.about_links__social {
    display: flex;
}


.stats_stats__about h4 {

    display: block;
    /* margin-block-start: 0.60em; */
    margin-block-end: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}



.stats_statColumn__about h4 {
    display: flex;
    align-items: center;
    margin-bottom: 0.90rem;
}

.stats_statColumn__about h4 span {
    font-size: var(--text-xs);
    font-weight: 400;
    position: relative;
    margin-left: .4rem;
    color: var(--text);
}

.stats_skills__about {
    display: flex;
    flex-wrap: wrap;
    gap: 0.37rem;
    margin-bottom: 0.90rem;
    color: var(--text);

}

.chip {
    font-size: 0.65rem;
    background: var(--background-light);
    padding: .3rem .6rem;
    border-radius: 999px;
    cursor: pointer;
}

.chip:hover {
    background-color: var(--main-color);
    color: var(--background-dark);
}

.headinglinks_linkedin {
    font-size: var(--nav-font-size);
}

.headinglinks_linkedin svg:hover {
    color: var(--main-color);

}