#contact {
    align-items: center;
    /* justify-content: center; */
    display: flex;
}

/* Contact Container */
.contact_contactWrapper__imGw1 {
    max-width: 700px;
    margin: auto;
    color: var(--text);
    border-radius: 1.2rem;
    justify-content: center;
    align-items: center;
}

/* Contact Titile */
/* h4 */
.contact_contactTitle__oMNhX {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 900;
    line-height: 1;
}

/* Dot /span */
.contact_contactTitle__oMNhX span {
    color: var(--main-color);
    font-family: 'Handjet', cursive;
}

/* Contact Pagaragraph */
.contact_contactCopy__oCo8c {
    text-align: center;
    font-weight: 300;
    margin: 2.4rem 0;
    font-size: var(--p-size);
}

/* Contact Email section  */
.contact_contactEmail__Fr6hH {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--p-size);
    margin: auto;
    transition: color .25s;
    color: var(--text);
    padding: 10px;
}

.contact_contactEmail__Fr6hH:hover {
    text-decoration: underline;
    color: var(--main-color);

}

/* An Tag */
.contact_contactCopy__oCo8c a {
    color: var(--main-color);
}

.contact_contactCopy__oCo8c a:hover {
    /* color: var(--brand); */
    text-decoration: underline;
}


svg {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0;
    height: 1.4rem;
    width: 1.4rem;
}