@media(max-width: 1075px) {
    header {
        padding: 20px 5%;
        justify-content: space-between;
    }

    .hamburger {
        display: inline-block;
    }

    .bars:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px var(--main-color);
    }

    .navlist {
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        background-color: var(--background);
        top: 0;
        height: 100%;
        position: fixed;
        right: -100%;
        flex-direction: column;
        transition: right 0.5s linear;
        gap: 5px;
        padding-top: 120px;
    }

    .navlist.active {
        right: 0;
    }

    .navlist a {
        display: flex;
        width: 90%;
        height: 50px;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 20px transparent;
        transition: all 0.55s ease;
        border-bottom: 1px medium var(--main-color);
        border-bottom: 1px solid #fbd06b18;
    }

    .navlist a:hover {
        /* color: var(--main-color); */
        background-color: var(--main-color);
        /* background: transparent; */
        color: var(--bg-color);
        transform: scale(1.05);
        box-shadow: 0 0 20px var(--main-color);
        /* text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color); */
    }

    .logo {
        /* margin: 0 auto; */
        display: initial;
    }

    .h-btn {
        display: none;
    }

    .main-content {
        margin-top: 3rem;
    }



    /*! === ABOUT SECTION STYLE ===  */

    /* ! === PROJECT STYLE HERE */
    .projects_projects__y7TVk {
        grid-template-columns: 1fr 1fr;
        padding-top: 1.2rem;
    }

    .project_header_title {
        font-size: 1.8rem;
    }

    /*! PROJECT STYLE END HERE  */

    /*! === EXPERIENCE   */

    .header_title__V2_hm {
        font-size: 1.8rem;
    }

    .experience_experience__USIwr {
        padding: 1.8rem 0;
    }


}

@media (max-width: 800px) {


    .logo {
        /* margin: 0 auto; */
        display: none;
    }

    .navlist {
        padding: 20px;
        padding-top: 120px;
    }

    .section-wrapper {
        padding: 6rem 1.4rem;

    }

    .section-wrapper h1 {
        font-size: var(--h-one-size);
    }

    .social {
        display: flex;
        justify-content: center;
    }

    .main-btnn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .btn,
    .btn2 {
        display: inline-block;
        margin: 0 auto;
        width: 80%;
        padding: 13px;
        text-align: center;
    }

    /*?================ PROJECT STYLE STAR HERE ====================  */


    .projects_projects__y7TVk {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 1.2rem;
    }

    /*? ==== PROJECT STYLE END HERE===  */


    /*! === EXPERIENCE STYLE STARTS HERE ====  */





    .experience_heading__LeH28 span {
        font-size: 0.85rem;
        /* color: var(--main-color); */
    }

    /*! === CONTACT STYLING   */
    .contact_contactTitle__oMNhX {
        font-size: 2.8rem;
    }


    .show-less,
    .show-more {
        display: inline;
    }




}


/*! ======================= SMALL SCREEN STYLING =====================  */

@media(max-width: 480px) {


    /* ===== EXPERIENCE DESIGN */

    .experience_experience__USIwr {
        padding: 0.1rem 0.2rem;
        margin-bottom: 2.1rem;
    }

    .experience_tech__jTuus {
        margin: 1.3rem 0.2rem;
    }

    .projects_projects__y7TVk p {
        margin-block-end: 0;
    }

}